.card-custom {
  border-color: #bcb6ff !important;
  background-color: #564e58 !important;
  color: #bcb6ff !important;
}

.header-custom {
  background-color: #bcb6ff !important;
  color: #564e58 !important;
}

.button-custom {
  background-color: #bcb6ff !important;
  color: #564e58 !important;
}

.card-body p {
  color: #bcb6ff !important;
}

.card-body a {
  color: #bcb6ff !important;
}

.card-body a:hover {
  color: #558c8c !important;
}

@media (min-width: 699px) {
  .card-size {
    min-width: 600px !important;
  }
}

@media (max-width: 699px) {
  .card-size {
    max-width: 350px !important;
  }
}
